body            { 
    font-family: sans-serif; 
    background: rgb(15, 15, 15); 
}

a, h1, h2       { 
    color: #0ef02c; 
}

h1, h2          { 
    font-family: 'Georgia', serif; 
    margin: 0; }

h1              { 
    border-bottom: 2px solid #eee; 
}

h3              { 
    font-size: 1.7em; 
    color: #ef0cd1;
}