<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href='/static/style.css' />
    <script src="/static/jquery-1.12.4.min.js"></script>
    <script src="/static/socket.io.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            namespace = '/sensor';
            var socket = io(namespace);
            var interval;

            socket.on('connect', function() {
                socket.emit('openSerial');
                
                socket.on('serialOpen', function() {
                    console.log('serialOpen caught');
                    interval = setInterval(function () { socket.emit('readSensor') }, 1000);
                });

                socket.on('sensorData', function(msg) {
                    console.log('msg', msg);
                    $('#log').append('<br>' + $('<div/>').text('sensor val' + msg.data).html());
                });
	    });

	    socket.on('serialOpen', function() {
                console.log('serialOpen caught');
                interval = setInterval(function () { socket.emit('readSensor') }, 1000);
            });

            socket.on('sensorData', function(msg) {
		console.log('msg', msg);
                $('#log').append('<br>' + $('<div/>').text('sensor val' + msg.data).html());
            });
        });
    </script>
</head>
<body style="text-align:center">
    <h1>SOIL COMMS 🌱📟</h1>  
    <div id="log">Waiting for data...</div>
</body>
</html>


