<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href='/static/style.css' />
    <script src="/static/jquery-1.12.4.min.js"></script>
    <script src="/static/socket.io.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            namespace = '/sensor';
            var socket = io(namespace);
            var interval;
	    var siteURL = ""

            socket.on('connect', function() {
                socket.emit('openSerial');
	    });
	    socket.on('serialOpen', function() {
            	console.log('serialOpen caught');
                interval = setInterval(function () { socket.emit('readSensor') }, 1000);
            });

            socket.on('sensorData', function(msg) {
            	console.log('msg', msg.data);
		
		if (siteURL != msg.data) {
               	     //$('#url').attr("src", msg.data)
		     window.open(msg.data, "_blank");
		}

		siteURL = msg.data;
            });
	});
    </script>
</head>
<body style="text-align:center">
    <h1>SOIL COMMS 🌱📟</h1>  
    <!--iframe id="url" width="100%" height="100%" src="" /--> 
</body>
</html>


