<!DOCTYPE html>
<head>
  <title>{{ title }}</title>

  <link rel="stylesheet" href='/static/style.css' />

</head>

<body style="text-align:center">
  <h1>SOIL COMMS 🌱📟</h1>
  <h2>The date and time on the server is: {{ time }}</h2>

  <h2> {{ text }} </h2>

  <a href="/sensor"><button>Check Soil Message</button></a> <br>
  <br>
  <br>
  <br>
  <br>

  <!-- <h3>Land is the solid surface of the Earth that is not permanently 
    covered by water, while soil is the ecosystem in the uppermost layer of 
    the ground in which plants can grow. Soil is composed of mineral 
    particles, organic matter, water, air and living organisms.
    <br>
    <br>

    Land degradation is a global problem, often
    caused by a combination of factors such as poor land management, 
   unsustainable agricultural practices, pollution and deforestation. Land 
   degradation may exacerbate the impacts of natural disasters and 
   contributes to social issues such as migration.</h3> -->
  <!-- <a href="/water"><button>Water Once</button></a>
  <a href="/last_watered"><button>Check Time Last Watered</button></a> -->

</body>
</html>